.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  margin: 10px 20px;
  padding: 10px 50px;
  background-color: black;
}
.logo {
  flex: 2;
  margin: 0;
  color: white;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  flex: 2;
  margin: 0;
  color: whitesmoke;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
}

ul > li {
  list-style: none;
  margin-left: 1.5rem;

  /* display: none; */
}

.button {
  flex: 1;
  color: white;
  background-color: rgb(41, 160, 207);
  border: none;
  border-radius: 15px;
  padding: 4px 20px;
  font-weight: bold;
}
